<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Movies</h1>
    <ul>
        <% movies.forEach(movie => { %>
            <li>
                <a href="/detail?id=<%= movie._id %>"><%= movie.title %></a>
            </li>
        <% }) %>
    </ul>
    <footer>
        <p>&copy; 2024 Abdisalam Kadir</p>
    </footer>
</body>
</html>